<!doctype html>

<html>

<head>
<title>Edit story</title>
</head>

<body>
<h2>User Story Manager - Edit story</h2>
<form method="POST">

<p>Story Title</p>
<p><input name="title" value={{ data_list[1] }}></p>

<p>User Story</p>
<p><textarea rows="7" cols="70" name="story">{{ data_list[2] }}</textarea></p>

<p>Acceptance Criteria</p>
<p><textarea rows="7" cols="70" name="criteria">{{ data_list[3] }}</textarea></p>

<p>Business Value</p>
<input type="number" name="value" value={{ data_list[4] }} min="100" max="1500", step="100">

<p>Estimation</p>
<input type="number" name="estimation" value={{ data_list[5] }} min="0.5" max="40", step="0.5">

<p>Status</p>
<select name="status" >
    {% for status in status_list %}
    {% if status == data_list[6] %}
    <option selected value={{ status }}>{{ status }}</option>
    {% else %}
    <option value={{ status }}>{{ status }}</option>
    {% endif %}
    {% endfor %}
</select>

<p><input type="submit" value="Update"></p>

</form>
</body>
</html>
